In [1]:
import tensorflow as tf

In [2]:
tf.__version__

'2.11.0'

In [3]:
import pandas as pd

data = pd.read_csv('dataset.csv')

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
data = pd.concat([pd.get_dummies(data['Geography'], drop_first=True),data],axis=1)

data = pd.concat([pd.get_dummies(data['Gender'], drop_first=True),data],axis=1)

In [8]:
data = data.drop(['Geography','Gender'],axis=1)

In [9]:
data.head()

,Male,Germany,Spain,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,0,0,619,42,2,0.00,1,1,1,101348.88,1
1,0,0,1,608,41,1,83807.86,1,0,1,112542.58,0
2,0,0,0,502,42,8,159660.80,3,1,0,113931.57,1
3,0,0,0,699,39,1,0.00,2,0,0,93826.63,0
4,0,0,1,850,43,2,125510.82,1,1,1,79084.10,0

In [10]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
X_train.shape

(8000, 11)

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
ann = Sequential()

ann.add(Dense(units=6,activation='relu',input_dim=11))
ann.add(Dense(units=6,activation='relu'))
ann.add(Dense(units=1,activation='sigmoid'))

In [16]:
ann.compile(optimizer='adam', loss='binary_crossentropy',
           metrics=['accuracy'])

In [21]:
ann.fit(X_train,y_train, epochs=30, batch_size=32)

Epoch 1/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3750 - accuracy: 0.8350
Epoch 2/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3727 - accuracy: 0.8355
Epoch 3/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3712 - accuracy: 0.8354
Epoch 4/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3690 - accuracy: 0.8354
Epoch 5/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3665 - accuracy: 0.8359
Epoch 6/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3651 - accuracy: 0.8382
Epoch 7/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3633 - accuracy: 0.8436
Epoch 8/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3615 - accuracy: 0.8455
Epoch 9/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8504
Epoch 10/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3589 - accuracy: 0.8504
Epoch 11/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3576 - accuracy: 0.8522
Epoch 12/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3564 - accuracy: 0.8541
Epoch 13/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3557 - accuracy: 0.8528
Epoch 14/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3545 - accuracy: 0.8529
Epoch 15/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3538 - accuracy: 0.8546
Epoch 16/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3528 - accuracy: 0.8547
Epoch 17/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3519 - accuracy: 0.8540
Epoch 18/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3514 - accuracy: 0.8537
Epoch 19/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3507 - accuracy: 0.8540
Epoch 20/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3495 - accuracy: 0.8558
Epoch 21/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3495 - accuracy: 0.8568
Epoch 22/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3489 - accuracy: 0.8564
Epoch 23/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3483 - accuracy: 0.8562
Epoch 24/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3477 - accuracy: 0.8564
Epoch 25/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3473 - accuracy: 0.8564
Epoch 26/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8571
Epoch 27/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8566
Epoch 28/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3459 - accuracy: 0.8584
Epoch 29/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8586
Epoch 30/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3454 - accuracy: 0.8586

In [22]:
y_pred = ann.predict(X_test)

y_pred = (y_pred>0.5)
y_pred

63/63 [==============================] - 0s 2ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8545